---
layout: landing
---
				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<h2>{{ site.title }}</h2>
							<p>{{ site.description | markdownify }}</p>
							<ul class="actions">
								<li><a href="http://slack.giveth.io/" class="button special">Join</a></li>
							</ul>

						  <ul class="icons">
						    {% for socloc in site.social %}
						    {% if socloc[1] %}
						    {% if socloc[0] == 'email' %}
						    <li><a target="_blank" href="{{ socloc[1] }}" class="icon fa-envelope-o"
						           ><span class="label">E-mail</span></a></li>
						    {% else %}
						    <li><a target="_blank" href="{{ socloc[1] }}" class="icon fa-{{ socloc[0] }}"
						           ><span class="label">{{ socloc[0] }}</span></a></li>
						    {% endif %}
						    {% endif %}
						    {% endfor %}
						  </ul>
						</div>
						<a href="#one" class="more scrolly">Learn More</a>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style1 special">
						<div class="inner">
							<header class="major">
								<h2>Transparent Charities Accountable to YOU!</h2>
								<p>With the Ethereum blockchain charitable organizations can be created with transparent accounting, <br />
								so you can donate to your favorite cause & know EXACTLY where your donation went & what it accomplished.</p>
							</header>
							<ul class="icons major">
								<li><img class="ethereum-icon" src="./images/ethereum_icon.png" /></li>
								<!-- <li><span class="icon fa-diamond major style1"><span class="label">Ethereum</span></span></li> -->
								<!-- <li><span class="icon fa-heart-o major style2"><span class="label">Ipsum</span></span></li>
								<li><span class="icon fa-code major style3"><span class="label">Dolor</span></span></li> -->
							</ul>
						</div>
					</section>

				<!-- Two -->
					<section id="two" class="wrapper alt style2">
						<section class="spotlight">
							<div class="image"><img src="images/pic01.jpg" alt="" /></div><div class="content">
								<h2>Saving the World Together</h2>
								<p>
									The Giveth system enables accountability on chain & off!
									Every person that touches your donation has an open line of communication where you two can connect. The goal is to build a community around a cause; so non-monetary resources can be shares as well.
								</p>
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="images/pic02.jpg" alt="" /></div><div class="content">
								<h2>Rewarding Good People's Good Deeds</h2>
								<p>
									The Giveth smart contracts reduce the trust required to support your favorite cause. Instead of donating & hoping it produces outcomes, the donation can be locked into milestones, released to the charity for results, incentivizing them to continue the good work.
								</p>
							</div>
						</section>
						<!-- <section class="spotlight">
							<div class="image"><img src="images/pic03.jpg" alt="" /></div><div class="content">
								<h2>Augue eleifend aliquet<br />
								sed condimentum</h2>
								<p>Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam aenean mi ligula.</p>
							</div>
						</section> -->
					</section>

				<!-- Three -->
					<section id="three" class="wrapper style3 special">
						<div class="inner">
							<header class="major">
								<h2>Permissionless Innovation</h2>
								<p>
									We are completely opensource. All of our software we consider a gift to the etehreum community. We invite anyone to contribute & innovate using our platform.
									Developers can use our base system as a launching pad to test their for-profit ideas. Imagine starting a decentralized charity to build an orphanage while testing an experimental governance system for allocating donations. Live smart contract testing while making the world a better place.
								</p>
							</header>
							<ul class="features">
								<li class="icon fa-smile-o">
									<h3><a href="https://medium.com/giveth/the-minime-token-open-sourced-by-giveth-2710c0210787">MiniMe</a></h3>
									<p>
										The MiniMe token makes it trivial for ANYONE to upgrade a Dapp/DAO midstream to include
										new features in a decentralized fashion, without having to migrate to a new token
										contract and without having to ask for permission.  <a href="https://medium.com/giveth/the-minime-token-open-sourced-by-giveth-2710c0210787">Learn more.</a>
									</p>
								</li>
								<li class="icon fa-lock">
									<h3><a href="https://medium.com/giveth/the-vault-contract-open-sourced-by-giveth-fe2261f7b91b">Vault</a></h3>
									<p>
										The Vault Contract is designed to hold ether & safely automate payments in a Dapp/DAO environment. It allows for a step-by-step decentralization process as trust in the code base is built over time.<a href="https://medium.com/giveth/the-vault-contract-open-sourced-by-giveth-fe2261f7b91b">Learn more.</a>
									</p>
								</li>
								<li class="icon fa-heart-o">
									<h3>Delegated Governance</h3>
									<p>
										One of the core contracts we are working on enables a donor to delegate authority over their donations in a
										simple gas efficient way, following the principles of liquid democracy.
									</p>
								</li>
								<li class="icon fa-code">
									<h3>Milestones</h3>
									<p>
										ICO's have gotten out of control.  Our milestone contracts once fully
										tested will be able to keep charitable organizations and for-profit ICO's
										accountable to their supporters.
									</p>
								</li>
							</ul>
						</div>
					</section>

				<!-- CTA -->
					<section id="cta" class="wrapper style4">
						<div class="inner">
							<header>
								<h2>Are you ready?</h2>
								<p>Let's build the future of giving!</p>
							</header>
							<ul class="actions vertical">
								<li><a href="http://slack.giveth.io/" class="button fit special">Join</a></li>
								<!-- <li><a href="#" class="button fit">Learn More</a></li> -->
							</ul>
						</div>
					</section>
