---
layout: landing
---
				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<h2>{{ site.title }}</h2>
							<p>{{ site.description | markdownify }}</p>
							<ul class="actions">
								<li><a href="http://slack.giveth.io/" class="button special">Join</a></li>
							</ul>

						  <ul class="icons">
						    {% for socloc in site.social %}
						    {% if socloc[1] %}
						    {% if socloc[0] == 'email' %}
						    <li><a target="_blank" href="{{ socloc[1] }}" class="icon fa-envelope-o"
						           ><span class="label">E-mail</span></a></li>
						    {% else %}
						    <li><a target="_blank" href="{{ socloc[1] }}" class="icon fa-{{ socloc[0] }}"
						           ><span class="label">{{ socloc[0] }}</span></a></li>
						    {% endif %}
						    {% endif %}
						    {% endfor %}
						  </ul>
						</div>
						<a href="#one" class="more scrolly">Learn More</a>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style1 special">
						<div class="inner">
							<header class="major">
								<h2>Transparent charity on Ethereum</h2>
								<p>Ethereum is a blockchain technology that marries transparency with security, <br />
								so you can give valuable donations to help others achieve milestones that matter to both of you.</p>
							</header>
							<ul class="icons major">
								<li><img class="ethereum-icon" src="./images/ethereum_icon.png" /></li>
								<!-- <li><span class="icon fa-diamond major style1"><span class="label">Ethereum</span></span></li> -->
								<!-- <li><span class="icon fa-heart-o major style2"><span class="label">Ipsum</span></span></li>
								<li><span class="icon fa-code major style3"><span class="label">Dolor</span></span></li> -->
							</ul>
						</div>
					</section>

				<!-- Two -->
					<section id="two" class="wrapper alt style2">
						<section class="spotlight">
							<div class="image"><img src="images/pic01.jpg" alt="" /></div><div class="content">
								<h2>Saving the world together</h2>
								<p>
									Donor empowerment supported by complete transparency around how their donations are allocated.
									Directly connecting the donors to the people using their donations, building a community around a cause.
									Making it easy to reward and further incentivize good people to do good work with escrow based smart
									contracts (think milestones).
								</p>
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="images/pic02.jpg" alt="" /></div><div class="content">
								<h2>Permissionless innovation</h2>
								<p>
									We are completely opensource.  We invite anyone to contribute or build on top of platform.
									Developers can take their innovative smart contracts and test them live while trying
									to make the world a better place.
								</p>
							</div>
						</section>
						<!-- <section class="spotlight">
							<div class="image"><img src="images/pic03.jpg" alt="" /></div><div class="content">
								<h2>Augue eleifend aliquet<br />
								sed condimentum</h2>
								<p>Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam aenean mi ligula.</p>
							</div>
						</section> -->
					</section>

				<!-- Three -->
					<section id="three" class="wrapper style3 special">
						<div class="inner">
							<header class="major">
								<h2>Permissionless innovation</h2>
								<p>
									We are completely opensource.  We invite anyone to contribute or build on top of platform.
									Developers can take their innovative smart contracts and test them live while trying
									to make the world a better place.
								</p>
							</header>
							<ul class="features">
								<li class="icon fa-smile-o">
									<h3>Minime</h3>
									<p>
										The MiniMe token makes it trivial for ANYONE to upgrade a DApp/DAO midstream to include
										new features in a decentralized fashion, without having to migrate to a new token
										contract and without having to ask for permission.  <a href="https://medium.com/giveth/the-minime-token-open-sourced-by-giveth-2710c0210787">Learn more.</a>
									</p>
								</li>
								<li class="icon fa-lock">
									<h3>Vault</h3>
									<p>
										The MiniMe token makes it trivial for ANYONE to upgrade a DApp/DAO midstream to include
										new features in a decentralized fashion, without having to migrate to a new token
										contract and without having to ask for permission.  <a href="https://medium.com/giveth/the-minime-token-open-sourced-by-giveth-2710c0210787">Learn more.</a>
									</p>
								</li>
								<li class="icon fa-heart-o">
									<h3>Delegated Governance</h3>
									<p>
										One of the core contracts we are working on enables a delegated authority in a
										simple gas efficient way, following the principles of liquid democracy.
									</p>
								</li>
								<li class="icon fa-code">
									<h3>Milestones</h3>
									<p>
										ICO's have gotten out of control.  Our milestone contracts once fully
										tested will be able to keep charitable organizations and for-profit ICO's
										accountable to their supporters.
									</p>
								</li>
							</ul>
						</div>
					</section>

				<!-- CTA -->
					<section id="cta" class="wrapper style4">
						<div class="inner">
							<header>
								<h2>Are you ready</h2>
								<p>Let's build the future of giving.</p>
							</header>
							<ul class="actions vertical">
								<li><a href="http://slack.giveth.io/" class="button fit special">Join</a></li>
								<!-- <li><a href="#" class="button fit">Learn More</a></li> -->
							</ul>
						</div>
					</section>
